.wrapper {
  position: relative;
  height: 260px;
  background-size: cover;
  background-position: center;
}

.inner {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10px); 
}

@media (min-width: 768px) {
  .wrapper {
    height: 320px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    height: 380px;
  }
  .inner {
    transform: translateY(40px); 
  }
}
